{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["react", "import", "jest", "@typescript-eslint"],
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
