# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
js_coverage

# Transpiled files
build/
dist/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
.rpt2_cache/
.next/
*.tgz
CHANGELOG
docs/api
lerna-debug.log
npm-debug.log
packages/*/lib
.idea
