/* your custom css */

a {
    color: $link;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        max-width: calc(100% - 50px);
    }

    .docsNavContainer {
        flex: 0 0 300px;
    }
}
